@{
    ViewBag.Title = "Główna";
}

<div class="jumbotron">
    <h2>FOOSBALL</h2>
    <p class="lead">Ekstraklasa Millenium Plaza</p>
    <p><a href="~/Scores/Create/" class="btn btn-primary btn-lg">Dodaj wynik! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top rozegranych meczy</h2>
        <p>
            Być może kiedyś tutaj wyświetlony będzie dashboard ze statystykami. Być może kiedyś tutaj wyświetlony będzie dashboard ze statystykami.
        </p>
        <p><a class="btn btn-default" href="~/Scores/Index">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top wygranych</h2>
        <p>Być może kiedyś tutaj wyświetlony będzie dashboard ze statystykami. Być może kiedyś tutaj wyświetlony będzie dashboard ze statystykami.</p>
        <p><a class="btn btn-default" href="~/Scores/Index">Więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Najlepsza drużyna</h2>
        <p>Być może kiedyś tutaj wyświetlony będzie dashboard ze statystykami. Być może kiedyś tutaj wyświetlony będzie dashboard ze statystykami.</p>
        <p><a class="btn btn-default" href="~/Scores/Index">Więcej &raquo;</a></p>
    </div>
</div>